### Just learning how to use folium

In [1]:
import folium

In [2]:
SCL_COORDINATES = (-33.4574,-70.6029)

In [3]:
scl_map = folium.Map(location = SCL_COORDINATES, tiles = 'Stamen Toner', zoom_start = 15)

In [4]:
scl_map

In [5]:
import os

In [27]:
import pandas as pd

In [114]:
import numpy as np

In [6]:
from utils import constants

In [7]:
travel_times_dir = constants.travel_times_dir

In [8]:
scl_map_dir = os.path.join(travel_times_dir, 'maps/test.html')

In [9]:
scl_map.save(scl_map_dir)

In [10]:
import retrieve_data

In [11]:
[grouped_df_tt_w, grouped_df_tt_g, df_r_w] = retrieve_data.assemble_data('13.11.2018', '24.10.2018', '25.10.2018')

In [13]:
grouped_df_tt_w.tail()

,name,updatetime,time/length,date,time
92120,TramoTresAntoniosSN2,2018-11-13 14:30:00,279.565868,2018-11-13,14:30:00
92121,TramoTresAntoniosSN2,2018-11-13 14:45:00,267.465070,2018-11-13,14:45:00
92122,TramoTresAntoniosSN2,2018-11-13 15:00:00,276.197605,2018-11-13,15:00:00
92123,TramoTresAntoniosSN2,2018-11-13 15:15:00,298.652695,2018-11-13,15:15:00
92124,TramoTresAntoniosSN2,2018-11-13 15:30:00,330.838323,2018-11-13,15:30:00

In [66]:
df_r_w.head()

,name,length,start_date,line
0,TramoCDDNS1,501,2018-10-23 17:50:45,"[(-70.6127706553628,-33.4519419806409),(-70.61..."
1,TramoCDDSN3,456,2018-10-23 17:50:45,"[(-70.6094461440234,-33.457765692307),(-70.609..."
2,TramoIraPO1,326,2018-10-23 17:50:45,"[(-70.6123434771179,-33.453381198615),(-70.611..."
3,TramoTresAntonioSN1,498,2018-10-23 17:50:45,"[(-70.6039592431283,-33.4627181143719),(-70.60..."
4,TramoTresAntoniosSN2,668,2018-10-23 17:50:45,"[(-70.6031441496887,-33.4584726406213),(-70.60..."

In [63]:
query_route = "TramoIraPO2"

In [115]:
def changing_line(x):
    x = x.replace("[","")
    x = x.replace("]","")
    x = x.replace("(","")
    x = x.replace(")","")
    return pd.Series(x.split(","))
            
line = df_r_w.loc[df_r_w['name']==query_route, 'line'].apply(changing_line)

line.columns = [np.arange(len(line.columns)) % 2, np.arange(len(line.columns)) // 2]
line = line.stack().reset_index(drop=True)
line.columns = ['lon','lat']

lat = line.loc[:,'lat'].tolist()
lon = line.loc[:,'lon'].tolist()

In [116]:
lat

['-33.4537758673446',
 '-33.4539169832843',
 '-33.4539169832843',
 '-33.4542179730547',
 '-33.4542179730547',
 '-33.4542277520768']

In [121]:
len(lat)

6

In [119]:
lat[0]

'-33.4537758673446'

In [117]:
lon

['-70.6088542208833',
 '-70.6076589033484',
 '-70.6076589033484',
 '-70.604948531139',
 '-70.604948531139',
 '-70.6048413802846']

In [93]:
type(line[8])

str

In [110]:
line[8]

['[-70.6088542208833',
 '-33.4537758673446][-70.6076589033484',
 '-33.4539169832843][-70.6076589033484',
 '-33.4539169832843][-70.604948531139',
 '-33.4542179730547][-70.604948531139',
 '-33.4542179730547][-70.6048413802846',
 '-33.4542277520768)']

In [124]:
geojson_dict = {"id": "route", 
                        "type": "line",
                        "source":{
                            "type": "geojson",
                            "data": {
                                "type": "Feature",
                                "geometry": {
                                    "type": "LineString",
                                    "coordinates": [[float(lat[x]), float(lon[x])] for x in range(0,len(lat))]
                                }
                            }
                        }}

In [ ]:
[{'label': i, 'value': i}
                     for i in df_w['name'].unique()]

In [125]:
geojson_dict

{'id': 'route',
 'type': 'line',
 'source': {'type': 'geojson',
  'data': {'type': 'Feature',
   'geometry': {'type': 'LineString',
    'coordinates': [[-33.4537758673446, -70.6088542208833],
     [-33.4539169832843, -70.6076589033484],
     [-33.4539169832843, -70.6076589033484],
     [-33.4542179730547, -70.604948531139],
     [-33.4542179730547, -70.604948531139],
     [-33.4542277520768, -70.6048413802846]]}}}}