In [1]:
import datetime as dt

In [4]:
from retrieve_data_tmp import *

In [5]:
df_tt = assemble_data('29.10.2018')[0]

In [6]:
df_tt.head()

,name,time,historictime,jamlevel,updatetime,jams,alerts,updatetime_stgo,date_ext,time_ext,length,time/length
0,TramoCDDNS1,146,137,2,2018-10-23 17:50:45,{},{},2018-10-23 14:50:45,2018-10-23,14:50:45,501,291.417166
1,TramoCDDSN3,154,163,2,2018-10-23 17:50:45,{},{},2018-10-23 14:50:45,2018-10-23,14:50:45,456,337.719298
2,TramoIraPO1,77,88,1,2018-10-23 17:50:45,{},{},2018-10-23 14:50:45,2018-10-23,14:50:45,326,236.196319
3,TramoTresAntonioSN1,50,74,0,2018-10-23 17:50:45,{},{},2018-10-23 14:50:45,2018-10-23,14:50:45,498,100.401606
4,TramoTresAntoniosSN2,161,173,0,2018-10-23 17:50:45,{},{},2018-10-23 14:50:45,2018-10-23,14:50:45,668,241.017964

In [7]:
df_tt.loc[0,'updatetime']

Timestamp('2018-10-23 17:50:45')

In [ ]:
df_tt.iloc[0,0]

In [ ]:
df_tt.iloc[0,8]

In [ ]:
type(df_tt.loc[4420,'updatetime'])

In [ ]:
grouped_df_tt = df_tt.groupby(["name", pd.Grouper(freq="15min", key="updatetime_stgo")])['time'].mean().to_frame()

In [ ]:
grouped_df_tt.reset_index(inplace=True)

In [ ]:
grouped_df_tt.head()

In [ ]:
df_tt.loc[(df_tt['name']=='Av. Costanera Andres Bello Providencia')
          &(df_tt['date_ext']==dt.date(2018,10,20)),['time', 'updatetime_stgo']].head(10)

In [ ]:
1868.0 + 1894.0 + 1923.0

In [ ]:
1939.0 + 1899.0

In [ ]:
1867.0 + 1890.0 + 1906.0

In [ ]:
type(df_tt.iloc[0,0]) == str